{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }} | Password Strength Analyzer{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script>
        // to show password when checkbox is clicked
        function togglePassword() {
            const password = document.getElementById("password-field");
            const checkbox = document.getElementById("password-checkbox");

            if (checkbox.checked) {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }
    </script>
</head>

<body>
    <div class="App">
        <header class="App-header">
            <h1>PASSWORD STRENGTH ANALYZER</h1>
            <p class="small">Find out how strong your password is!</p>
        </header>

        <!--container for main section of page-->
        <main class="container">
            <!--left section displays tips-->
            <section class="left">
                <h2>Tips for Stronger Passwords</h2>
                <br>
                <ul style="text-align:left">
                    <li><b>Longer passwords = Stronger password</b><br>Use 16 characters minimum</li>
                    <li><b>Make them random</b><br>Use a combination of numbers, upper- and lower-case characters, and
                        symbols.</li>
                    <li><b>Make them unique</b><br>Don't use the same password for different accounts</li>
                </ul>
            </section>

            <!--right side displays password analyzer-->
                <section class="right">      
                    <form method="POST">
                        {% csrf_token %}
                        <div class="password-div">
                            <input type="password" placeholder="Enter your password here" id="password-field" name="password-field">
                            <label><input type="checkbox" id="password-checkbox" onclick="togglePassword()"> Show Password</label>
                        </div>
                        
                        <br>
                        <p class="small"><b>Feedback:</b></p>
                        <div>
                            {% for message in messages %}
                                <p class="small">{{ message }}</p>
                            {% endfor %}
                        </div>
                        
                        <button type="submit">check</button>
                    </form>          
                </section>
            </main>            
    </div>
</body>

</html>
